<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='keywords' content='Anton Öberg, Anton, Öberg, Portfolio, Hemsida, personlig hemsida, programmer, programmering, programmerare, göteborg, software developer, backend'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <title>Anton Öberg</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
    <title>my-site-v2</title>
</head>
<body>
    {{{body}}}
</body>
<script src="/scripts/script.js"></script>
</html>